body {
    overflow-x: hidden;
}

/* Navigation Bar */
    .navbar {
        -webkit-box-shadow: 0px 1px 8px black;
        -moz-box-shadow:    0px 1px 8px black;
        box-shadow:         0px 1px 8px black; 
    }

    .navbar-brand motto {
        display:block;
        font-size:10px;
        line-height: 50%;
    }

    .nav_message {
        left: 0px;
        text-align: center;
        margin: auto;
        position: absolute;
        width: 100%;
        opacity: 0;
    }

    /*Contacts: Navigation Bar*/
    .custombar {
        height: 150px;
        -moz-animation-name: dropNavbar;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease-in;
        -moz-animation-duration: 0.6s;

        -webkit-animation-name: dropNavbar;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in;
        -webkit-animation-duration: 0.6s;

        animation-name: dropNavbar;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.6s;
    }
/*************************************/

/* Login */
    #formLogin {
        padding: 18px;
    }

    #formLogin label {
        color: #548146;
        font-size: 12px;
    }

    #username, #password {
        min-width: 200px;
    }  
/*************************************/

/* Contacts: Floating Action Buttons */
    #fabs {
        position: relative;
        top: -50px; 
        z-index:998;
    }

    #fab_email, #fab_visit, #fab_other {
        opacity: 0;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        animation-name: popIn;
        -webkit-animation-name: popIn; 
        animation-duration: 0.6s;   
        -webkit-animation-duration: 0.6s;
        animation-timing-function: ease-in-out; 
        -webkit-animation-timing-function: ease-in-out;     
        visibility: visible !important; 
    }

    #fab_email {
        animation-delay: 0.8s;
        -webkit-animation-delay: 0.8s;   
    }

    #fab_visit {
        animation-delay: 1.0s;
        -webkit-animation-delay: 1.0s;
    }

    #fab_other {
        animation-delay: 1.2s;
        -webkit-animation-delay: 1.2s;
    }
/*************************************/

/* Index : Panel */
    #panel_index {
        position: relative;
        height: 100%;
        bottom: 0px;
    }
/*************************************/

/* Contacts: Panels */
    #panels {
        position: relative;
        top: -65px;    
        z-index: -1;
    }

    #panel_email, #panel_visit, #panel_other {
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        -moz-transition: -moz-transform 0.6s ease-in-out;
        -ms-transition: -ms-transform 0.6s ease-in-out;
        -o-transition: -o-transform 0.6s ease-in-out;
        position: relative;
    }

    #panel_email {
        left: -107%;
    }
    
    #panel_other {
        right: -107%;
    }

    .contacts_panel_body {
        height: 380px;
        min-height: 380px;
        width: 100%;
        position: relative;
    }

    /* Custom Map */
    #map-canvas {    
        height: 100%;
        width: 100%;
    }

    #zoom-in, #zoom-out {
        height: 32px;
        width: 32px;
        cursor: pointer;
        margin-left: 10px;
        background-color: rgba(211, 104, 104, 0.9);
        background-repeat: no-repeat;
        background-size: 32px 64px;
        background-image: url("img/cd-icon-controller.svg");
    }

    .no-touch #zoom-in:hover, .no-touch #zoom-out:hover {
        background-color: #d36868;
    }

    @media only screen and (min-width: 768px) {
      #zoom-in, #zoom-out {
        margin-left: 30px;
      }
    }

    #zoom-in {
        background-position: 50% 0;
        margin-top: 10px;
        margin-bottom: 1px;
    }

    #zoom-out {
        background-position: 50% -32px;
    }

    @media only screen and (min-width: 768px) {
      #zoom-in {
        margin-top: 50px;
      }
    }

    .details {
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 0.7em 0.7em;
        background-color: rgba(0, 150, 136, 0.6);
        color: white;
        font-size: 17px;
    }

    .details .opening_hours {
        font-size: 12px;
    }
    /*************************************/

    /* Input form */
    #contact_form {
        padding-top: 10px;
    }

    .form_footer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 0.7em 0.7em;
        background-color: #FFA726;
        color: white;
    }

    .form_footer button {
        color: white;
    }

    .form_footer_title {
        font-size: 20px;
    }

    .form_footer_subtitle {
        font-size: 14px;
    }
/*************************************/

/* Footer */
    .footer {         
        width: 100%;
        height: 59px;        
        position: absolute;
        bottom: 0;
        background-color: #009688;
    }

    .footer ul li {         
        list-style: none outside none;
        display: inline-block;
    }

    .footer ul i:hover {
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
    }

    .footer .fa-google-plus:hover {
        color: #e64522;
    }

    .footer .fa-twitter:hover {
        color: #00ABE3;
    }

    .footer .fa-linkedin:hover {
        color: #0094BC;
    }

    .footer div > a {
        color: white;
        font-size: 12px;        
    }

    .footer ul li a {
        color: white;
        font-size: 16px;
    }
/*************************************/

/* Utils */
    .no_padding {
        padding: 0px;
    }

    .vcenter {
        line-height: 48px;
        height: 59px;
    }
/*************************************/

/* Animations */
@-moz-keyframes dropNavbar {
    0% { -moz-transform: translateY(-100px); }
    100% { -moz-transform: translateY(0); }
}

@-webkit-keyframes dropNavbar {
    0% { -webkit-transform: translateY(-100px); }
    100% { -webkit-transform: translateY(0); }
}

@keyframes dropNavbar {
    0% { transform: dropNavbar(-100px); }
    100% { transform: translateY(0); }
}

@keyframes popIn {
    0% { transform: scale(0); opacity: 0.0; }
    60% { transform: scale(1.1); }
    80% { transform: scale(0.9); opacity: 1; }   
    100% { transform: scale(1); opacity: 1; }       
}

@-webkit-keyframes popIn {
    0% { -webkit-transform: scale(0); opacity: 0.0; }
    60% { -webkit-transform: scale(1.1); }
    80% { -webkit-transform: scale(0.9); opacity: 1; }   
    100% { -webkit-transform: scale(1); opacity: 1; }       
}

.slide_from_left {
    -o-transform:translate(107%,0px);
    -ms-transform:translate(107%,0px);
    -moz-transform:translate(107%,0px);
    -webkit-transform:translate(107%,0px);
}

.slide_from_right {
    -o-transform:translate(-107%,0px);
    -ms-transform:translate(-107%,0px);
    -moz-transform:translate(-107%,0px);
    -webkit-transform:translate(-107%,0px);
}

.slide_from_top {
    -o-transform:translate(0px,-107%);
    -ms-transform:translate(0px,-107%);
    -moz-transform:translate(0px,-107%);
    -webkit-transform:translate(0px,-107%);
}